*, *::after,*::before{
    box-sizing: border-box;
    appearance: 0;
    outline: 0;
    border: 0;
}

::-webkit-scrollbar {
    display: none;
}

body{
    font-family: "Roboto Condensed",sans-serif;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background-color: #333;
    transition: 1s ease;
}

a{
    text-decoration: none;
    color: #fff;
}


.container{
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 12fr) minmax(0, 9fr) minmax(0, 5fr);
    align-items: start;
    position: absolute;
    z-index: 10;
    position: fixed;
}

.container .icons{
position: relative;
  width: 30px;
  height: 18px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  cursor: pointer;
  
}

.icons.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  cursor: pointer;
}

.extra-menu{
    position: absolute;
    display: grid;
    grid-template-columns: auto 16rem auto auto auto;
    align-items: center;
    gap:100px;
    visibility: hidden;
    opacity: 0;
    
    transition: 0.5s ease;
}

.extra-menu.active{
    visibility: visible;
    transform: translate(-5%);
    opacity: 1;
}

.extra-menu .extra-menu-2{
    width:100%;
    top: 0;
    left: 30px;
    height: 70vh;
    color: #333;
    background-color: #fff;
    overflow: hidden;
    display: grid;
    transition: 0.3s ease;
    border: 1px solid;

}

.extra-menu-2 h1{
    border-bottom: 1px solid;
    font-size: 6rem;
    letter-spacing: -10px;
    margin-top: -8px;
}

.extra-menu-2 .menu-select {
    margin-top: -69px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    gap: 10px;
}
.extra-menu-2 .menu-select a{
    border: none;
    font-size: 1rem; 
}
.extra-menu-2 .menu-select a:hover{
    animation: pingpong 0.3s linear;
}
@keyframes pingpong {
   0%{transform: translateY(2px)};
   50%{transform: translateY(-10px)};
   
}
.extra-menu-2 a{
    color: #333;
    border: 1px solid #333;
    font-size: 0.6rem;
}

.extra-menu .extra-menu-item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: scroll;
    gap:4px;
}
.extra-menu .extra-menu-item a{
    width: fit-content;
    margin-bottom: 6px;
}
.extra-menu .extra-menu-item a:hover{
    text-decoration: underline;
}
.extra-menu .extra-menu-item span{
    background-color: yellow;
}
.extra-menu-item small {
    font-size: 5px;
}

    





.nav-bar {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.nav-bar .logo h1{
    font-size: 13rem;
    font-weight: 100;
    letter-spacing: -27px;
    letter-spacing: 127xp;
    margin-top: -46px;
    margin-bottom: -30px;
    transition: 1s ease;
}

/* SREACH TAB AREA */
.nav-bar .logo-sreach-tab h1{
    font-size: 8rem;
    font-weight: 100;
    letter-spacing: -27px;
    letter-spacing: 127xp;
    margin-top: -30px;
    margin-bottom: -30px;
    transition: 1s ease;
}

.sreach-form {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: repeating-radial-gradient(#302f2f, transparent 343px);
    transition: 1s ease;
}
label.sreach-menu {
    margin-top: -210px;
    transition: 1s ease;
}
input[type="search"] {
    width: 100vw;
    height: 8vh;
}

.infomation{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info-container {
    display: flex;
    padding: 2rem;
    gap: 2rem;
}

.info-item {
    font-size: 9px;
    font-weight: 100;
    transition: 0.5s ease;
}
.info-item h4{
    color: yellow;
}
.info-item a:hover{
    color: yellow;
}

.last-infomation{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 10px;
    font-weight: 100;
    padding: 20px;
}
.last-infomation span{
    font-size: 8px;
    font-family: "News Cycle",sans-serif;
    color: #ddd5d5;
}

/* end SREACH TAB AREA */

/* START LOGIN TAB AREA */
form.login-form {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0rem;
    padding-left: 3rem;
    transition: 1s ease;
}
.login-tab {
    display: flex;
    gap: 4rem;
    transition: 1s ease;
}
.dang-nhap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: 1s ease;
}
input#email, input#password {
    width: 100%;
    height: 2rem;
    background: #333;
    border-bottom: 1px solid white;
    
}

input#email:hover, input#password:hover{
   background-color: #fff;
}

input#email::placeholder, input#password::placeholder{
    color: #ddd5d5;
}
input[type="submit"] {
    background: #333;
    border: 1px solid white;
    height: 34px;
    color: white;
    font-size: 10px;
    width: 58vh;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #fff;
    color: black;
}
.dang-nhap h3, .dang-ki h3{
    font-weight: 100;
    letter-spacing: -1px;
}
.dang-nhap a {
    font-size: 9px;
    text-transform: none;
}



/* END LOGIN TAB AREA */

.h1.active , .h1:hover{
    color: yellow;
    
}

.nav-item ul{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 11px;
    transition: 1.3s ease;
}

.nav-item ul li{
    font-size: 1rem; 
}

.nav-item ul a:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}

.container .login-bar {
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
    white-space: nowrap;
    transition: 1s ease;
}
.login-bar.active a{
    color: yellow;
}


.container button {
    cursor: pointer;
    background: #fff;
    width: 83%;
    height: 29px;
    color: #333;
    font-size: 12px;
    border: 1px solid #333;
    text-align: end;
    
}

.sreach-bar.active, .sreach-bar:hover{
    animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


main{
    width: 100%;
    position: relative;
}
/* SLIDE MENU START */


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* left: 50%; */
    height: 100vh;
    /* margin-top: -22px; */
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
.prev:hover, .next:hover {
    background-color: rgba(190, 164, 164, 0.3);
}
/* SLIDE MENU END */

main .main-images img , video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: transform 0.5s ease;
   
}


/* ... */
/* Ẩn các slide không hoạt động */
.main-images[data-status="inactive"] {
    display: none;
}

/* Slide đang trở thành slide hiện tại */
.main-images[data-status="becoming-active"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: transform 0.5s ease;
}

/* Slide hiện tại */
.main-images[data-status="active"] {
    z-index: 1;
    transition: 0.5s ease;
}

/* Slide phía sau slide hiện tại */
.main-images[data-status="active"] + .main-images[data-status="becoming-active"] {
    transform: translateY(100%);
    transition: 0.5s ease;
}

/* Slide phía trước slide hiện tại */
.main-images[data-status="active"] ~ .main-images[data-status="becoming-active"] {
    transform: translateY(-100%);
    transition: 0.5s ease;
}

/* ... */

.footer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    
}

.footer-container{
    display: flex;
    height: 100vh;
    /* width: 100vw; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 200px;
    
}
.footer-container h2 {
    position: relative;
    font-size: 19px;
    font-weight: 100;
    top: 70px;
    color: yellow;
}

.footer-icon {
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    position: relative;
    z-index: 90;
    transition: 0.3s ease;
    
}

.footer-icon a:hover{
    color: yellow;
    transition: 0.3s ease;
}

.last-footer {
    display: flex;
    align-items: center;
    gap: 42px;
    font-size: 0.5rem;
    letter-spacing: 0.1px;
    position: relative;
    z-index: 91;
}

.last-footer a:hover{
    color: yellow;
    transition: 0.3s ease;
}


.sale {
    position: absolute;
    top: 30%;
    left: 33%;
    transform: translate(-50px, -50px);
    text-align: center;

}
.sale h5 {
    color: yellow;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 22px;
    font-family: "News Cycle",sans-serif;
}
.sale h3 {
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 17px;
    margin-top: -121px;
    margin-left: -24px;
}

.new-arrivar{
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 0.6rem;
}

.my-self {
    position: absolute;
    bottom: 0%;
    text-align: center;
    /* left: 50%; */
    /* transform: translate(-50px, -50px); */
    font-size: 0.4rem;
    font-weight: 100;
    letter-spacing: 3px;
    font-family: "News Cycle",sans-serif;
}

/******* CART-SECTION START *******/
.cart-section{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.cart-nav{
    display: flex;
    justify-content: center;
    width: 50vw;
    white-space: nowrap;
    border-top: 1px solid white;
    
}

.cart-nav a {
    flex-basis: 200px;
    flex: 1;
    padding: 8px 0;
    border-right: 1px solid ;
    text-align: center;
}
.cart-nav a:hover{
    background-color: yellow;
    color: #302f2f;
}
.cart-menu {
    width: 100vw;
    height: 30vh;
    border-top: 1px solid white;
}
.cart-menu p {
    padding: 47px;
    font-size: 0.7rem;
    font-weight: 100;
}
.material-icons-sharp {
    font-family: 'Material Icons Sharp';
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.talk {
    position: absolute;
    bottom: 57px;
    right: 0;
    font-size: 0.8rem;
    font-weight: 100;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid #ececec7a;
    box-shadow: 1px 1px 9px rgba(0,0,0, 1);
}
.talk:hover{
    box-shadow: none;
    color: yellow;
    border: none;
    
}
/***** CART-SECTION END *******/

/******** HELP-SECTION-START **********/
.help-section{
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
}
.help-menu{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-bottom: 14rem;
    justify-content: flex-start;
    object-fit: cover;
    background-image: url("https://static.zara.net/photos///contents/mkt/spots/aw23-help-customer/subhome-xmedia-29-north//w/1895/IMAGE-landscape-web-f315f03b-e99e-4b0e-b7c3-4fa5c467debc-default_0.jpg?ts=1689838237636");
}
.help-menu input[type="search"] {
    width: 58vw;
    height: 3rem;
    border: 1px solid #333;
}

.help-item1, .help-item2{
    padding: 2rem;
}
.help-item1 .help-item1-list {
    display: flex;
    gap: 2rem;
}

.help-item1-list a {
    border: 1px solid;
    font-size: 10px;
    font-weight: 100;
    padding: 6px;
}
.help-item1-list a:hover{
    background: yellow;
    color: #333;
}

.help-item1 h4, .help-item2 h4 {
    font-weight: 100;
    font-size: 17px;
}

.help-item2-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.help-item2-list div{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid;
    gap: 1rem;
}
.help-item2-list a{
    font-size: 10px;
    font-weight: 100;
    width: fit-content;
}
.help-item2-list a:hover{
    text-decoration-line: underline;
}
.help-item2-list h5{
    font-size: 12px;
    font-weight: 100;
    color: yellow;
}
.help-item2-list .xem-them a{
    text-decoration-line: underline;
    text-transform: none;
    font-weight: 100;
  
}

/******** HELP-SECTION-END ************/

@media (max-width:900px){
    .nav-bar .logo .h1{
      font-size:6rem;
    }
   .nav-bar .nav-item ul{
     display:flex;
     flex-direction:column;
     font-size: 0.5rem;
   }
   .sale h5{
     font-size: 2rem;
   }
   .footer-icon{
     display:grid;
     grid-template-columns: repeat(2,1fr);
   }
   .footer-container h2{
     font-size: 13px;
     top:190px
   }
   .login-bar{
     font-size:0.7rem;
   }
   .extra-menu{
    grid-template-columns: auto 13rem auto auto auto;
  }
  .login-tab {
    display: flex;
    
    flex-wrap: wrap;
    height: 20rem;
    }
   form.login-form {
    padding: 0px;
    }
    .dang-nhap {
        padding: 20px;
        width:80vw;
        margin-bottom: -80px;
        gap: 1rem;
       
    }
    input[type="submit"]{
        width: 75vw;
      }
      .dang-ki{
        padding: 20px;
      }
    .help-item2-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    .help-item1 .help-item1-list {
        
        flex-wrap: wrap;
        gap: 1rem;
    }  
 }

 @media (min-width:1373px){
    .container{
        display: flex;
        justify-items: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .container .login-bar, .sreach-bar {
        text-align: end;
        flex: 1;
        justify-content: flex-end;
    }
  }